<% if logged_in? %>
    <div>
        <%= render 'shared/user_info'%>
    </div>
    <div>
        <%= render 'shared/micropost_form' %>
    </div>
    <div>
        <h3>Post Feed</h3>
        <%= render 'shared/feed'%>
    </div>
<% else %>
    <div class="home">
        <h1>Welcome to the Video app</h1>
        <h2>This is the homepage</h2>
        <div class="home_btn">
          <%= link_to "Sign up now!", signup_path %> OR
          <%  if !logged_in? %>
            <%= link_to "Log in", login_path %>
          <% end %>
        </div>
        <h2>to upload your video</h2>
    </div>
    
<% end %>