<% if logged_in? %>
    <div>
        <%= render 'shared/user_info'%>
    </div>
    <div>
        <%= render 'shared/micropost_form' %>
    </div>
    <div>
        <h3>Micropost Feed</h3>
        <%= render 'shared/feed'%>
    </div>
<% else %>
    <div>
        <h1>Welcome to the Video app</h1>
        <h2>This is the homepage</h2>
        <%= link_to "Sign up now!", signup_path %> or 
        <%  if !logged_in? %>
            <%= link_to "Log in", login_path %>
        <% end %>
        <h2>to upload your video</h2>
    </div>
    
<% end %>