<% if logged_in? %>
    <div>
        <%= render 'shared/user_info'%>
    </div>
    <div>
        <%= render 'shared/micropost_form' %>
    </div>
    <div>
        <h3>Post Feed</h3>
        <ol class="microposts-list">
            <%= render 'shared/feed'%>
        </ol>
    </div>
<% else %>
    <div class="home">
        <div class="home-msg">
            <p align="center"><strong>SUBMISSION DEADLINE: 10/31/19,  11:59PM (PST)</strong></p>
            <p align="center">We know all women who wear Tadashi Shoji are  filled with joie de vivre. From weddings to parties to nights out, you enchant  life with your style and spirit. We&rsquo;ve heard rumors of greatness, including the  win-at-all-cost bouquet-catchers, the (cat)walk-off competition victors, and  the first-time singers of mic-dropping karaoke solos.  <br>
              <strong>And now, we want you to show us!</strong></p>
            <p align="center">We&rsquo;re searching for videos that capture how  you live in the moment while wearing Tadashi Shoji. Show us the memorable. Show  us the unexpected. Show us the unrepeatable.</p>
            <p align="center"><strong>Share your &ldquo;Living the Moment&rdquo;  video and you could</strong><br>
              <strong>WIN A $1500 SHOPPING SPREE</strong></p>
              <p align="center">TO BEGIN THE SUBMISSION PROCESS:</p>
            </div>          
        <div class="home_btn">
          <%= link_to "Sign up now!", signup_path %> OR
          <%  if !logged_in? %>
            <%= link_to "Log in", login_path %>
          <% end %>
        </div>
        <h2>to upload your video</h2>
    </div>
    
<% end %>