<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <h1><%= @user.name %></h1>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<div>
  <% if @user.microposts.any? %>
    <h3>Microposts (<%= @user.microposts.count %>)</h3>
    <ol>
      <%= render @microposts %>
    </ol>
    <%= will_paginate @microposts %>
  <% end %>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Post Video', root_path %>