<p id="notice"><%= notice %></p>

<p>
  <h1><%= @user.name %></h1>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>

</p>

<div>
  <% if @user.microposts.any? %>
    <h3>Posts (<%= @user.microposts.count %>)</h3>
    <ol class="microposts-list">
      <%= render @microposts %>
    </ol>
    <%= will_paginate @microposts %>
  <% end %>
</div>

