<%= form_for(@micropost) do |f| %>
    <%= render 'shared/error_messages', object:f.object %>
    <div>
        <%= f.text_area:content, placeholder:"Upload your video" %>
    </div>
    <%= f.submit "Post" %>
    <span>
        <%= f.file_field :video, accept:'video/*' %>
    </span>
<% end %>

<script type="text/javascript">
    $('#micropost_picture').bind('change', function(){
       var size_in_megabytes = this.file[0].size/1024/1024;
       if (size_in_megabytes > 10) {
           alert('Maximum file size is 5 MB. Please choose a smaller file');
       }
    });
    
</script>