<header>
<!--    <a class="logo" href="/"><%= image_tag "logo.png", height: "43px" %></a>    -->
    <ul class="main-nav">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "Official Rules", about_path %></li>
        <li><%= link_to "Video Requirements", video_requirements_path %></li>        
        
    </ul>
    <ul class="right-nav">
        <% if logged_in? %>
            <li><%= link_to "Log out", logout_path, method:"delete"%></li>
        <% else %>
            <li><%= link_to "Log in", login_path %></li>
        <% end %>
    </ul>
    <div class="hamburger-menu">
        <%= image_tag "hamburger-menu.png", size: "24x24" %>
    </div>
    
</header>
